.header{
    text-align: center;
}

.App {
    padding-right:10px;
    padding-left:10px;
}

.select {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
